
<%= simple_form_for(@invite) do |f| %>
  <%= f.error_notification %>

        <%= render 'invites_fields' %>
      <% end %>

      <div class="links">
        <%= link_to 'add address' %>
      </div>

      <p class="count">Total:
    </div>
  </div>
